@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{ 
    <a href="/Account/LogOff">Log off</a>
 
    <ul class="nav navbar-nav navbar-right">
        <li>
          Hello @User.Identity.Name
        </li>
         
    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
